@charset "utf-8";


.footer{
  width: 100%;
  height: auto;
}
.footer .inner-footer{
  width: 100%;
  height: auto;
  background-color: #000;
  display: flex;
  justify-content: center;
}
.footer .inner-footer .fcon{
  flex: 0 1 1000px;
  height: 200px;
  /* background-color: #00f; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}